body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}

.sobre {
  padding: 20px;
  background-color: #fff;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.516);
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 36px;
  color: palevioletred;
  margin-top: 0;
}

h2 {
  font-size: 32px;
  color: palevioletred;
  margin-top: 0;
}

p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}


.main-bit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 15px;
}

.menuToggle{
  position: absolute;
  bottom: 120px;
  right: 120px;
  height: 70px;
  width: 70px;
  background: #fff;
  display: flex;
  justify-content: right;
  align-items: center;
  box-sizing: 0 0 10px #000;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 60px;
}

.menuToggle i{
  font-size: 60px;
  color: #0f0f20;
}

.bit-container {
  height: 30px;
  width: 30px;
  bottom: 200px;
  right: 30px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.516);
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  position: absolute ;
  transition: .5s,height .5s, widht .5s;
  z-index: -1;
  
}

.menuToggle.active ~.bit-container{
  height: 550px;
  width: 390px;
  z-index: 1;
}



.bit-container .top-part {
  height: 100px;
  background: #d4d4f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bit-container .top-part i {
  font-size: 40px;
  cursor: pointer;
}

.top-part .bit-details {
  display: flex;
  align-items: center;
}

.bit-container .top-part .bit-details img {
  height: 70px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;

  background: #fff;
}

.top-part .bit-text {
  margin-left: 10px;
}

.bit-text h3 {
  font-size: 17px;
}

.bit-text p {
  font-size: 15px;
}

.bit-text span {
  color: #ec0303;
  font-weight: 600px;
}

.chart-section {
  position: relative;
  padding: 40px;
}

.left-part {
  margin: 50px 0;
  max-width: 260px;
}

.bit-chart {
  display: flex;
  align-items: center;
}

.bit-chart span{  
  font-weight: bold;
}

.left-part img {
  height: 60px;
  background: #0f0f20;
  border-radius: 50%;
}

.left-part p {
  color: #555;
  font-weight: 400px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}

.chart-section .right-part {
  margin: -50px 0;
  text-align: right;
  max-width: 260px 0;
  float: right;
  font-size: 14px;  
}

.chart-section .right-part p {
  color: #fff;
font-size: 13px;
  background: #0f0f20;
  padding: 8px 24px;
  border-radius: 10px;
}

.chart-section .right-part span {
  color: #555;
  font-size: 11px;
  font-weight: 500;
}

.bottom-section {
  position: absolute;
  bottom: 10px;
 
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, .1);
}

.bottom-section i {
  color: #555;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.bottom-section input {
  width: 80%;
  height: 40px;
  color: #0f0f20;
  padding: 0 5px;
  resize: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}
